@use "./theme" as t;

html,
body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: t.$light-background;
    font-family: "Space Grotesk";
}

div {
    font-family: "Space Grotesk";
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*::-webkit-clear-button {
    display: none;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

input {
    font-family: "Space Grotesk";
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

svg.invert_svg {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

body {
    font-family: "Space Grotesk";

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

text {
    color: #262626;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
    text-decoration: none;
    color: t.$color-gray-dark;
}

*::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

input#memeboxer {
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    stroke-width: 2px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#tag-tooltip {
    box-shadow: black 0px 2px 0px;
    display: block;
    position: absolute;
    top: 80px;
    left: 240px;
    width: 130px;
    padding: 5px;
    z-index: 100;
    background: #121212;
    color: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#tag-tooltip:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;

    border-top: 12px solid #121212;
    border-bottom: 12px solid transparent;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    left: 54px;
    bottom: -24px;
    z-index: 99;
}

#tag-popover-up {
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
    display: flex;
    position: absolute;
    width: 300px;
    height: 200px;
    padding: 5px;
    z-index: 10000;
    background: #fff;

    color: #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#tag-popover-up:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;

    border-bottom: 12px solid #fff;
    border-top: 12px solid transparent;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    left: 16px;
    top: -24px;
    z-index: 10000;
}

#tag-popover-down {
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
    display: flex;
    position: absolute;
    width: 300px;
    height: 200px;
    padding: 5px;
    z-index: 10000;
    background: #fff;

    color: #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#tag-popover-down:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;

    border-top: 12px solid #fff;
    border-bottom: 12px solid transparent;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    left: 16px;
    bottom: -24px;
    z-index: 10000;
}
