@use './theme' as t;

html,
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: t.$light-background;
  font-family: "Space Grotesk";
}

div {
  font-family: "Space Grotesk";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::-webkit-clear-button {
  display: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input {
  font-family: "Space Grotesk";
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

svg.invert_svg {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

body {
  font-family: "Space Grotesk";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

text {
  color: #262626;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
  color: t.$color-gray-dark;
}

*::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

input#memeboxer {
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  stroke-width: 2px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
