@use './theme' as t;

html,
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: t.$light-background;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::-webkit-clear-button {
  display: none;
}

body {
  font-family: "Space Grotesk";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

text {
  color: #262626;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
  color: t.$color-gray-dark;
}

*::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
